<div class="mx-auto container-fluid pt-4 ps-2 flex-fill" style="width: 80%;background-color: #9893DA;">
    <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-12 d-flex justify-content-end m-0 p-0">
                <button class="btn" onclick="history.back()">← Back</button>
            </div>
        </div>
        <div>
            <h3 class="varela">Posted by {{post.user.username}} ({{post.user.firstname}} {{post.user.lastname}})</h3>
        </div>
    </div>
    <div class="mx-auto card border-dark mt-3 mb-0" data-user-id="{{post.user.id}}" id="user-post">
        <div class="card-body pt-0 pe-0">
            <div class="d-flex justify-content-end">
                <p class="fst-italic pe-1 text-black-50">{{format_date post.created_at}}</p>
            </div>
            <h5 class="card-title" id="post-title">{{post.title}}</h5>
            <p class="card-text" id="post-content">{{post.coconut}}</p>
            <div class="row">
            <div class="col-12 text-end">
                <p class="mb-0 pe-2">❤️{{post.upvote_count}} coco-ros | 👎{{post.downvote_count}} </p>
            </div> 
            </div>
        </div>
    </div>
    <!-- edit post -->
    {{> edit-post post}}
    {{{showPostOwnerOptions loggedInId post.user.id}}}
    <h5 class="mt-2 varela">{{comments.length}} comment(s):</h5>
    {{#each comments}}
        <div class="card my-1 mx-2">
            <div class="card-header">
                Comment by: <a class="link-dark" href="/user/{{commenter.id}}">{{commenter.username}} ({{commenter.firstname}} {{commenter.lastname}})</a> on {{format_date created_at}}
            
            </div>
            <div class="card-body">
                <p class="card-text">{{comment_text}}</p>
            </div>
        </div>
    {{/each}}
    <form class="form-group container-fluid m-0 p-0">
        <div class="form-group m-0 p-0">
            <div class="row mx-2 p-0">
                <div class="col-12 mx-0 mt-0 mb-4 p-0">
                    <textarea class="form-control" id="comment-form" rows="3" placeholder="Write a comment..." style="resize: none;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/js/single-post.js"></script>